html {
    margin: 0;
    left: 0;
    text-align: center;
    color: white!important;
}
nav {
    background-color: rgba(22, 174, 166, 0.70);
}
.brand-logo {
    margin-right: 5%;
}
.parallax-container {
    height: 600px;
}
.parallax {
    width: 100%;
}
.page-footer {
    background-color: rgba(22, 174, 166, 0.70)!important;
}
.section {
    background-color: rgba(22, 174, 166, 0.70);
}
.section1 {
    background-color: transparent;
    color: rgba(22, 174, 166, 1);
}