{% extends 'base.html.twig' %}

{% block content %}

    <div class="parallax-container">
        <div class="parallax"><img src="../assets/img/company/img1.jpg"></div>
    </div>

    <div class="section1">
        <h3 style="line-height: 102px;">Bienvenue chez nous</h3>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="../assets/img/company/img2.jpg"></div>
    </div>

    <div class="section z-depth-5">
        <div class="row container">
            <h3 class="header">Mais que faisons-nous ?</h3>
            <div style="height: 200px;" class="grey-text text-darken-3 lighten-3">


            </div>
        </div>
    </div>

    <div class="parallax-container ">
        <div class="parallax"><img src="../assets/img/company/img3.jpg" alt="parallax"></div>
    </div>

    <div class="section z-depth-5">
        <div class="row">
            <h3 class="header">Nos Valeurs</h3>
            <div style="height: 300px;" class="grey-text text-darken-3 lighten-3">
                <h6 class="value z-depth-3">ENGAGEMENT</h6>
                <h6 class="value z-depth-3">CONFIANCE</h6>
                <h6 class="value z-depth-3">TRANSPARENCE</h6>
                <h6 class="value z-depth-3">ESPRIT D'ÉQUIPE</h6>
                <h6 class="value z-depth-3">SENS DE L'INNOVATION</h6>
                <h6 class="value z-depth-3">CONVIVIALITÉ</h6>
                <h6 class="value z-depth-3">PROFESSIONNALISME</h6>








            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="../assets/img/company/img4.jpg" alt="parallax"></div>
    </div>


{% endblock %}



